<footer>
    <div id="col1">
        <ul>
            <li>
                <a href="">
                    ejem
                </a>
            </li>
            <li>
                <a href="">
                    ejem2
                </a>
            </li>
            <li>
                <a href="">
                    ejem3
                </a>
            </li>
        </ul>
    </div>

    <div id="col2">
        <ul>
            <li>
                <a href="">
                    col2ej1
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    col2ej2
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    col2ej3
                </a>
            </li>
        </ul>
    </div>

    <div id="col3">
        <ul>
            <li>
                <a href="">
                    col3ej1
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    col3ej2
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    col3ej3
                </a>
            </li>
        </ul>
    </div>

</footer>