<footer>
    <div id="col1">
        <ul>
            <li>
                <a href="/Projects/SEO-StaticWebPage/keyboards.html">
                    Keyboards
                </a>
            </li>
            <li>
                <a href="/Projects/SEO-StaticWebPage/mouses.html">
                    Mouses
                </a>
            </li>
            <li>
                <a href="/Projects/SEO-StaticWebPage/tablets.html">
                    Tablets
                </a>
            </li>
        </ul>
    </div>

    <div id="col2">
        <ul>
            <li>
                <a href="">
                    Configuration
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    Code source
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    Contact me
                </a>
            </li>
        </ul>
    </div>

    <div id="col3">
        <ul>
            <li>
                <a href="">
                    Liscence
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    Terms and Conditions
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    No se que poner aqui
                </a>
            </li>
        </ul>
    </div>

</footer>