<!-- ? NAVBAR-->
<div class="navbar">
    <div class="navbarL"> <!-- ! NAVBAR LEFT-->
        <!-- Logo linked to Home-->
        <a href="home.html">
            <img src="" alt="Logo-Icon">
        </a>
        <a href="home.html"><strong>Home</strong></a>
    </div>

    <div class="navbarC"> <!-- ! NAVBAR CENTER-->
        <!-- Links to other pages with dropdowns -->
        <div class="nav-item">
            <a href="keyboards.html"><strong>Keyboards</strong></a>
            <ul class="submenu">
                <li><a href="sub-keyboards/mechanical.html">Mechanical</a></li>
                <li><a href="sub-keyboards/membran.html">Membran</a></li>
                <li><a href="sub-keyboards/analogyc.html">Analogyc</a></li>
            </ul>
        </div>

        <div class="nav-item">
            <a href="mouses.html"><strong>Mouses</strong></a>
            <ul class="submenu">
                <li><a href="mouses.html">Overview</a></li>
                <li><a href="#">Gaming Mouses</a></li>
                <li><a href="#">Wireless</a></li>
            </ul>
        </div>

        <div class="nav-item">
            <a href="tablets.html"><strong>Tablets</strong></a>
            <ul class="submenu">
                <li><a href="tablets.html">Overview</a></li>
                <li><a href="#">Drawing Tablets</a></li>
                <li><a href="#">Display Tablets</a></li>
            </ul>
        </div>
    </div>